.products_page {
    padding: 2rem 0 3rem;
}

.products_container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1rem;
    box-sizing: border-box;
}

.products_header {
    margin-bottom: 2rem;
}
.products_header-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--gold, white);
    text-shadow: 0 0 10px var(--gold-hover);
}

.products_header-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.products_header-bar-search {
    position: relative;
    flex: 1;
    min-width: 240px;
    max-width: 400px;
}

.products_header-bar-search-input {
    width: 100%;
    padding: 0.75rem 2.5rem 0.75rem 2.5rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    border: transparent;
    color: white;
    font-size: 1rem;
}

.products_header-bar-search-input:focus {
    align-items: center;
    border: 2px solid var(--gold, #d4af37);
    outline: none;
}

.products_header-icon {
    position: absolute;
    color: var(--gold);
    top: 50%;
    transform: translateY(-50%);
    left: 0.5rem;
}

.products_header-icon-clear {
    position: absolute;
    top: 50%;
    right: 0.5rem;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: var(--gold);
    cursor: pointer;
}

.products_header-icon-clear:hover {
    color: rgba(255, 0, 0, 0.329);
}

.products_header-filters {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.filter_btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.3rem 0.75rem;
    border: 1px solid;
    border-radius: 4px;
    background: transparent;
    color: var(--light-gray);
    font-size: 1rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

.filter_btn.active,
.filter_btn:hover {
    border: 1px solid;
    border-color: var(--gold);
    color: var(--gold-hover);
}
.filter_count {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.25rem;
    height: 1.25rem;
    background-color: var(--gold, #d4af37);
    color: black;
    font-size: 1rem;
    border-radius: 50%;
}

.products_header-view {
    display: flex;
    border: 1px solid var(--gold);
    border-radius: 4px;
}
.products_header-view-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.1rem;
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--light-gray);
}
.products_header-view-btn.active {
    background-color: var(--charcoal);
    color: white;
}

.products_header-view-count {
    display: block;
    font-size: 1rem;
    color: var(--light-gray);
}

/* PANEL DE FILTROS */
.product_filter-sidebar {
    position: absolute;
    gap: 2rem;
}

.product_filter-panel {
    top: 0;
    right: 0;
    width: 240px;
    margin: 0.4rem;
    background-color: var(--charcoal);
    border: 1px solid var(--gold-hover);
    border-radius: 4px;
    box-sizing: border-box;
    animation: fadeIn 0.5s ease-in-out;
}
.product_filter-panel-header {
}
.product_filter-panel-title {
}
.clear_filter-btn {
}
.product_filter-section {
}

/* PRODUCTOS  */
.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
    width: 100%;
    box-sizing: border-box;
}

.products-grid.filter_panel {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    gap: 1.5rem;
    width: 80%;
    margin-left: auto;
    box-sizing: border-box;
}

.products_item {
    width: 100%;
    box-sizing: border-box;
}

.products-grid.list-view {
    grid-template-columns: 1fr;
}

.products_card-list.filter_panel {
    width: 98%;
}

.products_card-list {
    display: flex;
    width: auto;
    flex-direction: column;
    border: 1px solid #333;
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: #1a1a1a;
}

@media (max-width: 768px) {
    .filter-sections {
        grid-template-columns: repeat(2, 1fr);
    }

    .products_header-view {
        display: none;
    }

    .products_header-view-count {
        display: none;
    }

    .product_filter-sidebar {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        gap: 2rem;
    }

    .product_filter-panel {
        width: 100%;
    }
    .products-grid.filter_panel {
        width: 100%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
