.products_page {
    padding: 2rem 0 3rem;
}

.products_container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1rem;
    box-sizing: border-box;
}



/* PANEL DE FILTROS */
.product_filter-sidebar {
    position: absolute;
    gap: 2rem;
}

/* PRODUCTOS  */
.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
    width: 100%;
    box-sizing: border-box;
}

.products-grid.filter_panel {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    gap: 1.5rem;
    width: 80%;
    margin-left: auto;
    box-sizing: border-box;
}

.products_item {
    width: 100%;
    box-sizing: border-box;
}

.products-grid.list-view {
    grid-template-columns: 1fr;
}

.products_card-list.filter_panel {
    width: 98%;
}

.products_card-list {
    display: flex;
    width: auto;
    flex-direction: column;
    border: 1px solid #333;
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: #1a1a1a;
}

@media (max-width: 1100px){
    .products-grid.filter_panel{
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        width: 70%;
    }
}
@media (max-width: 868px) {
    .filter-sections {
        grid-template-columns: repeat(2, 1fr);
    }

    .products_header-view {
        display: none;
    }

    .products_header-view-count {
        display: none;
    }

    .product_filter-sidebar {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        gap: 2rem;
    }

    .product_filter-panel {
        width: 100%;
    }
    .products-grid.filter_panel {
        width: 100%;
    }
    .product_filter-section {
        margin-bottom: 1.5rem;
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
}


@media (max-width: 450px){
    .product_filter-tags-section {
        display: none
        ;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
