.product_filter-panel {
    top: 0;
    right: 0;
    width: 240px;
    margin: 0.4rem;
    padding: 1rem;
    background-color: var(--charcoal);
    border: 1px solid var(--gold-hover);
    border-radius: 4px;
    box-sizing: border-box;
    animation: fadeIn 0.5s ease-in-out;
}
.product_filter-panel-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}
.product_filter-panel-title {
    font-size: 1.1rem;
    color: var(--gold);
    text-shadow: 0 0 10px var(--gold-hover);
}

.product_filter-section {
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.product_filter-category,
.product_filter-tags-section,
.product_filter-availability-section,
.product_filter-price-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.product_filter-title {
    font-size: 1rem;
    color: var(--gold);
    font-weight: 300;
}
.product_filter-category-list,
.product_filter-availability-items {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    list-style: none;
}

.product_filter-category-item,
.product_filter-availability-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0 0.5rem;
    border-radius: 4px;
    cursor: pointer;
    color: var(--light-gray);
    transition: background-color 0.3s ease, color 0.3s ease;
}
.product_filter-category-item:hover,
.product_filter-availability-item:hover {
    background-color: var(--gold-hover);
    color: var(--charcoal);
}
.product_filter-category-item.active,
.product_filter-availability-item.active {
    background-color: var(--gold-hover);
    color: var(--charcoal);
}

.product_filter-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
}
.product_filter-tag-btn {
    padding: 0.1rem 0.3rem;
    background-color: rgb(54, 54, 53);
    color: var(--gold);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.8rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.product_filter-tag-btn:hover {
    background-color: var(--gold-hover);
    color: var(--charcoal);
}
.product_filter-tag-btn.active {
    background-color: var(--gold-hover);
    color: var(--charcoal);
}
.product_filter-price-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    background-color: var(--charcoal);
    border-radius: 4px;
    color: var(--light-gray);
}
.product_filter-price-display {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.1rem;
    background-color: var(--charcoal);
}
.product_filter-price-slider {
    position: relative;
}
.product_filter-price-input {
    position: absolute;
    top: 0;
    width: 100%;
    height: 1.5rem;
    background: transparent;
    pointer-events: auto;
    -webkit-appearance: none;
    appearance: none;
    z-index: 2;
}
.product_filter-price-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: var(--gold-hover);
    cursor: pointer;
}
.product_filter-price-input::-moz-range-thumb {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: var(--gold);
    cursor: pointer;
    border: none;
}
.product_filter-slider-track {
    position: absolute;
    top: 0.5875rem;
    left: 0;
    right: 0;
    height: 0.3rem;
    background-color: var(--light-gray);
    z-index: 1;
}

@media (max-width: 1100px){
    .products-grid.filter_panel{
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        width: 70%;
    }
}
@media (max-width: 868px) {
    .filter-sections {
        grid-template-columns: repeat(2, 1fr);
    }

    .products_header-view {
        display: none;
    }

    .products_header-view-count {
        display: none;
    }

    .product_filter-sidebar {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        gap: 2rem;
    }

    .product_filter-panel {
        width: 100%;
    }
    .products-grid.filter_panel {
        width: 100%;
    }
    .product_filter-section {
        margin-bottom: 1.5rem;
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
}


@media (max-width: 450px){
    .product_filter-tags-section {
        display: none
        ;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
