.user-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user-menu {
    position: absolute;
    top: 100%;
    color: white;
    right: 0;
    background-color: #1e2328bb;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 0.25rem;
    padding: 0.5rem;
}
.user-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.user-details {
    display: flex;
    flex-direction: column;
}

.dropdown-divisor {
    height: 1px;
    background-color: #e0e0e0;
    margin: 0.5rem 0;
}

.dropdown-items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dropdown-item {
    padding: 0.5rem 0;
    cursor: pointer;
    color: var(--light-gray);
    text-decoration: none;
}

.dropdown-item:hover{
    color: var(--gold-hover);
    filter: drop-shadow(0 0 15px var(--gold));
}

.cart-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: rgba(255, 0, 0, 0.651);
    color: white;
    border-radius: 50%;
    padding: 0.2rem 0.4rem;
    font-size: 0.75rem;
}
